@font-face {
    font-family: "Caligraphic";
    src: url("./../fonts/ofont.ru_ScriptC.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Seasons";
    src: url("./../fonts/Seasons.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

