@use "@/assets/styles/variables" as *;

.top {
    position: relative;

    .hat {
        position: absolute;
        height: auto;
        transform: rotate(20deg);
        width: 15%;
        opacity: 0.3;
        top: 70px;
    }
    .present {
        position: absolute;
        height: auto;
        top: 60px;
        right: 0;
        width: 25%;
        opacity: 0.5;
        top: 100px;
    }
    .board {
        position: absolute;
        height: auto;
        bottom: 30px;
        right: 0;
        width: 10%;
        opacity: 0.5;
    }

    .wrapper {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            font-family: 'Seasons', Arial, sans-serif;
            letter-spacing: 1.4;
            text-align: center;
            border-bottom: 2px solid #496549;
            padding: 22px 0 10px 0;
            font-size: 40px;
        }
        .content {
            position: relative;

            .center {
                position: relative;
                display: flex;
                justify-content: center;
                // padding-top: 305px;

                .container {
                    position: absolute;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    column-gap: 200px;
                    margin-left: 40px;
                    bottom: 0;

                    .date {
                        display: flex;
                        flex-direction: column;
                        font-size: 55px;
                        font-family: var(--font-montserrat), Arial, sans-serif;
                        font-weight: 700;
                    }
                    .time {
                        bottom: 80px;
                        font-size: 45px;
                        font-family: var(--font-montserrat), Arial, sans-serif;
                        font-weight: 700;
                    }
                }
                .cake {
                    display: flex;
                    justify-content: center;
                    position: relative;

                    img {
                        // width: 70%;
                        width: 48%;
                        height: auto;
                    }
                }
            }
        }
    }

    .description {
        margin: 60px 159px;
        font-size: 30px;
        font-family: 'Seasons', Arial, sans-serif;
        letter-spacing: 1.4;
        width: 550px;
        line-height: 48px;
    }
}

@media (max-width: 768px) {
    .top {
        .wrapper {
            .title {
                font-size: 35px;
            }
    
            .content {
                .center {
                    .date {
                        left: 50px;
                        font-size: 70px;
                    }
                    .cake {
                        img {
                            // width: 80%;
                        }
                    }
                    .time {
                        right: 50px;
                        font-size: 60px;
                    }
                }
            }
        }
    }

    .description {
        margin: 80px auto 0;
        font-size: 30px;
        width: 90%;
        text-align: center;
        line-height: 48px;
    }
}

@media (max-width: 480px) {
    .top {
        .wrapper {
            .title {
                font-size: 25px;
            }

            .content {
                .center {
                    .container {
                        column-gap: 150px;
                        .date {
                            left: 10px;
                            font-size: 45px;
                        }
                        .time {
                            right: 10px;
                            font-size: 35px;
                        }
                    }
                    .cake img {
                        width: 90%;
                    }
                }
            }
        }

        .description {
            font-size: 20px;
            line-height: 28px;
        }
    }
}

@media (max-width: 380px) {
    .top {
        .wrapper {
            .title {
                font-size: 25px;
                padding: 18px 0 8px 0;
            }

            .content {
                .center {
                    .container {
                        .date {
                            left: 10px;
                            font-size: 40px;
                        }
                        .time {
                            right: 10px;
                            bottom: 60px;
                            font-size: 30px;
                        }
                    }
                    .cake img {
                        width: 72%;
                    }
                }
            }
        }

        .description {
            font-size: 18px;
            line-height: 26px;
            margin: 40px auto 0;
        }
    }
}